/*
  PALETA DE COR
  #010400 - quase preto
  #30332E - cinza
  #FFFBFC - offwhite
  #62BBC1 - azul claro
  #C3F73A - Verde Limao
*/
body{
    background-image: url('..\\Images\\Background1.png');
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-origin: center;
	background-size: cover;
	font-family: verdana;
}

header{    
    height: 20px;
    text-align: center;
    background-color:#30332E;
    color: white;    
}

footer{    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#30332E;
    color: white;    
}

label{
    color: black;
}

#divTabelaTetris {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    top: 100px;
    position: relative;
    background-color: #010400;
}

table, th, td {
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    position: relative;
}

th, td{
    width: 15px;
    height: 15px;
    background-color: rgb(23, 42, 60);
}

button{
  border: none;
  padding: 10px auto;
  background-color: #4d88ff;
  color: #FFFBFC;
  height: 40px;
  font-size: 20px;
  margin-left: 10px;
}
