body{
    background-image: url('..\\Images\\Background.png');
}

header{    
    height: 20px;
    text-align: center;
    background: rgb(0, 255, 255);
    color: white;    
}

footer{    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 255, 255);
    color: white;    
}

label{
    color: black;
}

#divTabelaTetris {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    top: 100px;
    position: relative;
    background-color: white;
}

table, th, td {
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    position: relative;
}

th, td{
    width: 15px;
    height: 15px;
    background-color: rgb(23, 42, 60);
}