@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

:root{ 
  /* Colors */
  
  --primary-color: #36486e;
  --secondary-color: #e2a91b;
  --primary-color-lighten: #2c88fb;
  --text-color-ligthen: #8793b6;
  --text-color: #3e496d;
  --warning-color: #d6443d;
  --background-lighten: #f8f8f7;
  --header-background: #ffffff;
  
  /* Sizes and spacings*/
  
  --header-height: 5.625em; /*90px*/
  --default-padding: 2em;
  --default-border-radius: 0.2em;
  --header-padding: 0 var(--default-padding);
  --menu-item-height: 3.125em; /*50px*/
  --search-bar-height: 5.625em; 
  --opened-menu-width: 70vw;
  --retracted-menu-width: 5em;
  --busca-container-width: var(--opened-menu-width);
    
  /* Shadows */

  --border-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: var(--background-lighten);
  color: var(--text-color);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  height: 100%;
  height: 100vh;
}

body{
  display: grid;
}

/* GRID AREAS ====================================================== */

#menu-button{ grid-area: menuButton; }
#logo{ grid-area: logo; }
#busca-container{ grid-area: busca; }
nav{ grid-area: menu; }


/* CABEÇALHO ====================================================== */

header{
  align-items: center;
  background: var(--header-background);
  box-shadow: var(--border-shadow);
  display: flex;
  height: var(--header-height);
  z-index: 9999;
}

header #logo{
  margin-right: calc(var(--default-padding)*2);
  width: 30vw;
}

header #logo h1,
header #logo h2{
  text-transform: uppercase;  
}

header #logo h1{
  color: var(--primary-color-lighten);
  font-size: 1.25em;
}

header #logo h2{
  color: var(--primary-color);
  font-size: 0.75em;
}

header #menu-button{
  color: var(--primary-color);
  font-size: 1.75em;
  margin-right: calc(var(--default-padding) / 2);
}

#logo-menu-container{
  align-items: center;
  display: flex;
  padding-left: var(--default-padding);
  width: var(--opened-menu-width);
}

/* CONTAINER DE BUSCA ====================================================== */

#busca-container{
  align-items: center;
  background: var(--primary-color);
  display: flex;
  left: 0;
  overflow: hidden;
  position: fixed;
  height: var(--search-bar-height);
  justify-content: center;
  top: var(--header-height);
  width: var(--busca-container-width);
  z-index: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#busca-container input{
  font-family: Lato, sans-serif;
  outline: none;
}

#busca-container i{
  font-size: 1rem;
  opacity: 0;
  position: absolute;
  right: -1rem;
  transition: all ease-in-out .4s;
}

#busca-container input[type="search"]{
  background: #eee;
  border: none;
  border-radius: var(--default-border-radius);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  width: calc(var(--opened-menu-width) - calc(var(--default-padding) * 2 ));
}

#busca-container input[type="search"]:valid ~ label,
#busca-container input[type="search"]:focus ~ label{
  display: none;
}

#busca-container input[type="search"]:focus ~ i{
  cursor: pointer;
  opacity: 1;
  right: calc(var(--default-padding) * 1.5);
}

/* MENU DE NAVEGAÇÃO ====================================================== */

#menu-retract{
  transition: all ease-in-out .2s;
}

#menu.active #menu-retract{
  color: #ffffff; 
  cursor: pointer;
  bottom: calc(var(--default-padding)/2);
  font-size: 1.5rem;
  left: calc(var(--opened-menu-width) - var(--default-padding) + 0.5rem);
  position: fixed;
} 

#menu.retracted #menu-retract{
  color: #ffffff; 
  cursor: pointer;
  bottom: calc(var(--default-padding)/2);
  font-size: 1.5rem;
  left: 1.5em;
  position: fixed;
  transform: rotate(180deg) ;
}

#menu.retracted nav{
  width: var(--retracted-menu-width);
  opacity: 1; 
  height: calc(100vh - var(--header-height));
}

#menu.retracted nav span{
  display: none;
}

#menu,
#busca-container,
nav{
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  width: 0;
}


#menu.active,
#menu.active nav,
#menu.active #busca-container{
  opacity: 1;
  width: var(--opened-menu-width);
}

nav{
  background: var(--primary-color);
  height: calc(100vh - var(--header-height));
  left: 0;
  overflow: hidden;
  padding-top: var(--search-bar-height);
  position: fixed;
  top: calc(var(--header-height));
}

nav a{
  text-decoration: none;  
}

nav i{
  color: inherit;
  margin-right: calc(var(--default-padding) / 2);
}

nav ul{
  list-style: none;
}

nav li{
  align-items: center;
  display: flex;
  height: var(--menu-item-height);
  padding: 0 var(--default-padding) ;
}

nav a{
  color: var(--text-color-ligthen);
  font-size: 1em;
}

nav a.active{
  color: var(--header-background);
  font-weight: bold;
}

nav a.active i{
  color: var(--primary-color-lighten);
}

nav .active{
  border-left: solid 0.25rem var(--header-background);
}

nav .active > a{
  color: var(--header-background);
  left: -4px;
  position: relative;
}

/* nav::after{
  content: "";
  transition: all ease-in-out 0.2s;
  position: fixed;
  margin-left: 0;
} */

/* #menu.active nav::after{
  background: linear-gradient(90deg,rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 40%);
  height: calc(100vh - var(--header-height));
  margin-left: var(--opened-menu-width);
  width: 1rem;
  top: var(--header-height);
} */

/* PROFILE ================================================  */

.profile-container{
  align-items: center;
  display: flex;
  height: var(--header-height);
  position: fixed;
  right: var(--default-padding);
  z-index: 9999;
}

.profile-pic img{
  border-radius: 20px;
  margin-right: calc(var(--default-padding) / 4);
  width: 40px;
}

/* MAIN ================================================  */

main{
  display: flex;
  padding: var(--default-padding);
  position: absolute;
  top: var(--header-height);
}




/* DESKTOP BREAKPOINT ================================================  */

@media screen and (min-width: 800px){
  :root{
    --opened-menu-width: 30vw;
    --busca-container-width: 60vw;
  } 
  
  #busca-container{
    align-items: center;
    background: var(--header-background);
    flex: 1;
    justify-content: flex-start;
    position: absolute;
    left: 30vw;
    opacity: 1;
    top: 0;
    width: var(--busca-container-width); 
  } 
  
  #busca-container input[type="search"]{
    flex: 1; 
    width: 100vw !important;
  }
  
  #menu.active #busca-container{
    width: var(--busca-container-width);
  }
  
  #busca-container input[type="search"]:focus ~ i{
    right: calc(var(--default-padding) / 2);
  }
  
  nav{
    padding-top: var(--default-padding);
    top: var(--header-height);
  }
  
  main{
    left: var(--opened-menu-width);
    width: calc(100vw - var(--opened-menu-width));
  }
}
