@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
:root {
    /* Colors */
    --grafic-color-1: #e84118;
    --primary-color: #36486e;
    --secondary-color: #e2a91b;
    --primary-color-lighten: #2c88fb;
    --text-color-ligthen: #8793b6;
    --text-color: #3e496d;
    --warning-color: #d6443d;
    --background-lighten: #f8f8f7;
    --header-background: #ffffff;
    /* Sizes and spacings*/
    --header-height: 60px;
    /*90px*/
    --default-padding: 2em;
    --default-border-radius: 0.2em;
    --header-padding: 0 var(--default-padding);
    --menu-item-height: 3.125em;
    /*50px*/
    --search-bar-height: 5.625em;
    --opened-menu-width: 40vw;
    --retracted-menu-width: 5em;
    --busca-container-width: var(--opened-menu-width);
    /* Shadows */
    --border-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #f5f6fa;
    height: 100vh;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.container-information {
    display: flex;
    flex-direction: row;
    margin-left: 72rem;
    color: var(--primary-color-lighten);
}

.text {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.container-ranking-pai {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: all cubic-bezier(0.50, 0.04, 0.10, 0.8) 0.5s;
    height: 580px;
    width: 1120px;
    margin-top: 1rem;
    justify-items: left;
}

.container-ranking-pai form {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: flex-end;
}

.container-dados {
    display: flex;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: all cubic-bezier(0.50, 0.04, 0.10, 0.8) 0.5s;
    height: 580px;
    width: 300px;
    margin-top: 1rem;
    justify-items: left;
    align-items: flex-start;
    background-color: var( --primary-color-lighten);
    margin-left: 2rem;
}

.container-dados p {
    margin-left: 2rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.container-dados i {
    color: white;
    margin-left: 3rem;
    display: flex;
    justify-self: center;
    margin-top: 3rem;
    margin-bottom: 9rem;
    font-size: 100px;
    text-align: center;
    margin-left: 0, 8rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-right: 10rem;
}

.input-container-1 {
    display: flex;
    flex-direction: column;
}

.input-container-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.input-container input {
    border: 0;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 1rem;
    padding-right: 7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input-container-1 input {
    border: 0;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 1rem;
    padding-right: 10rem;
}

.input-container input~label {
    color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all ease-in-out .2s;
}

.input-container ::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
}

.input-container input:valid~label {
    font-size: 1rem;
    opacity: 1;
    transform: translateY(-2.6rem);
}

.button {
    align-self: center;
    background: var( --primary-color-lighten);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.rem 4rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.container-ranking-pai h1 {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
}

header {
    align-items: center;
    background: var(--header-background);
    box-shadow: var(--border-shadow);
    display: flex;
    height: var(--header-height);
    width: 100%;
}

header #title-header {
    margin-right: calc(var(--default-padding)*2);
    text-transform: uppercase;
    width: 40vw;
    color: var(--primary-color-lighten);
    font-size: 0.8rem;
}

header #menu-button {
    color: var(--primary-color);
    font-size: 1.75em;
    margin-right: calc(var(--default-padding) / 2);
}

#logo-menu-container {
    align-items: center;
    display: flex;
    padding-left: var(--default-padding);
    width: 78.5rem;
}

#menu-retract {
    transition: all ease-in-out .2s;
}

#menu.active #menu-retract {
    color: #ffffff;
    cursor: pointer;
    bottom: calc(var(--default-padding)/2);
    font-size: 1.5rem;
    left: calc(var(--opened-menu-width) - var(--default-padding) + 0.5rem);
    position: fixed;
}

#menu.retracted #menu-retract {
    color: #ffffff;
    cursor: pointer;
    bottom: calc(var(--default-padding)/2);
    font-size: 1.5rem;
    left: 1.5em;
    position: fixed;
    transform: rotate(180deg);
}

#menu.retracted nav {
    width: var(--retracted-menu-width);
    opacity: 1;
    height: calc(100vh - var(--header-height));
}

#menu.retracted nav span {
    display: none;
}

#menu,
#busca-container,
nav {
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    width: 0;
}

#menu.active,
#menu.active nav,
#menu.active {
    opacity: 1;
    width: var(--opened-menu-width);
}

nav {
    background: var(--primary-color);
    height: calc(100vh - var(--header-height));
    left: 0;
    overflow: hidden;
    padding-top: var(--search-bar-height);
    position: fixed;
    top: calc(var(--header-height));
}

nav a {
    text-decoration: none;
}

nav i {
    color: inherit;
    margin-right: calc(var(--default-padding) / 2);
}

nav ul {
    list-style: none;
}

nav li {
    align-items: center;
    display: flex;
    height: var(--menu-item-height);
    padding: 0 var(--default-padding);
}

nav a {
    color: var(--text-color-ligthen);
    font-size: 1em;
}

nav a.active {
    color: var(--header-background);
    font-weight: bold;
}

nav a.active i {
    color: var(--primary-color-lighten);
}

nav .active {
    border-left: solid 0.25rem var(--header-background);
}

nav .active>a {
    color: var(--header-background);
    left: -4px;
    position: relative;
}

main {
    display: flex;
    padding: var(--default-padding);
    position: absolute;
    top: var(--header-height);
}

@media screen and (min-width: 800px) {
     :root {
        --opened-menu-width: 18vw;
        --busca-container-width: 60vw;
    }
    #busca-container {
        align-items: center;
        background: var(--header-background);
        flex: 1;
        justify-content: flex-start;
        position: absolute;
        left: 30vw;
        opacity: 1;
        top: 0;
        width: var(--busca-container-width);
    }
    #busca-container input[type="search"] {
        flex: 1;
        width: 100vw !important;
    }
    #menu.active #busca-container {
        width: var(--busca-container-width);
    }
    #busca-container input[type="search"]:focus~i {
        right: calc(var(--default-padding) / 2);
    }
    nav {
        padding-top: var(--default-padding);
        top: var(--header-height);
    }
    main {
        left: var(--opened-menu-width);
        width: calc(100vw - var(--opened-menu-width));
    }
}