table .rankingGlobal{
	border-collapse: collapse;
	width: 100%;
	margin: 2en 2en;
	float: left;
}
.rankingGlobal tr:nth-child(even){
	background-color: white;
}

.rankingGlobal td{
	padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12pt;
}

.rankingGlobal th{
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 10px;
	font-size: 18pt;
}

.cont_rankingGlobal{
	position: relative;
	top: 80px;
  right: 80px;
  width: 40en;
	
}

input[type=text],input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

