@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
:root {
    /* Colors */
    --grafic-color-1: #e84118;
    --primary-color: #36486e;
    --secondary-color: #e2a91b;
    --primary-color-lighten: #2c88fb;
    --text-color-ligthen: #8793b6;
    --text-color: #3e496d;
    --warning-color: #d6443d;
    --background-lighten: #f8f8f7;
    --header-background: #ffffff;
    /* Sizes and spacings*/
    --header-height: 60px;
    /*90px*/
    --default-padding: 2em;
    --default-border-radius: 0.2em;
    --header-padding: 0 var(--default-padding);
    --menu-item-height: 3.125em;
    /*50px*/
    --search-bar-height: 5.625em;
    --opened-menu-width: 40vw;
    --retracted-menu-width: 5em;
    --busca-container-width: var(--opened-menu-width);
    /* Shadows */
    --border-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #f5f6fa;
    height: 100vh;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.container-pai {
    display: flex;
}

#btnIniciarJogo{
    background: #d63031;
    border-radius: 100px;
    color: white;
    display: block;
    padding: 1rem 3rem;
    text-decoration: none;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#divTabelaTetris {
    background-position: 0% center;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    width: 40vw;
    position: relative;
    transition: all cubic-bezier(0.50, 0.04, 0.10, 0.8) 0.5s;
    align-items: center;
    justify-content: center;
}

#bodyTabelaTetris{
    height: 50vh;
}

table, th, td {
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    position: static;
}

.tabelaTabuleiroMenor{
    width: 25px;
    height: 25px;    
    margin-left: auto;
    margin-right: auto;
    background-color: gray
}

.tabelaTabuleiroMaior{
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(23, 42, 60);
}

.tabuleiroMenor{
    width: 23px;
    height: 23px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabuleiroMaior{
    width: 13px;
    height: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-information {
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    color: var(--primary-color-lighten);
}

.text {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.container-ranking-pai {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
    margin-left: 2.5rem;
    overflow: hidden;
    position: relative;
    transition: all cubic-bezier(0.50, 0.04, 0.10, 0.8) 0.5s;
    height: 270px;
    width: 450px;
    margin-top: 1rem;
}

.container-ranking {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.container-ranking h1 {
    letter-spacing: 2px;
    font-size: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--primary-color);
}

.container-ranking h3 {
    letter-spacing: 2px;
    font-size: 1.0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--primary-color-lighten);
}

.container-ranking i {
    color: inherit;
    margin-right: calc(var(--default-padding) / 2);
}

.container-ranking ul {
    list-style: none;
    margin-top: 1rem;
    margin-right: 2rem;
}

.container-ranking li {
    align-items: center;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem;
    font-size: 1.1rem;
}

header {
    align-items: center;
    background: var(--header-background);
    box-shadow: var(--border-shadow);
    display: flex;
    height: var(--header-height);
    width: 100%;
}

header #title-header {
    margin-right: calc(var(--default-padding)*2);
    text-transform: uppercase;
    width: 40vw;
    color: var(--primary-color-lighten);
    font-size: 0.8rem;
}

header #menu-button {
    color: var(--primary-color);
    font-size: 1.75em;
    margin-right: calc(var(--default-padding) / 2);
}

#header-menu-container {
    align-items: center;
    display: flex;
    padding-left: var(--default-padding);
    width: 78.5rem;
}

#menu-retract {
    transition: all ease-in-out .2s;
}

#menu.active #menu-retract {
    color: #ffffff;
    cursor: pointer;
    bottom: calc(var(--default-padding)/2);
    font-size: 1.5rem;
    left: calc(var(--opened-menu-width) - var(--default-padding) + 0.5rem);
    position: fixed;
}

#menu.retracted #menu-retract {
    color: #ffffff;
    cursor: pointer;
    bottom: calc(var(--default-padding)/2);
    font-size: 1.5rem;
    left: 1.5em;
    position: fixed;
    transform: rotate(180deg);
}

#menu.retracted nav {
    width: var(--retracted-menu-width);
    opacity: 1;
    height: calc(100vh - var(--header-height));
}

#menu.retracted nav span {
    display: none;
}

#menu,
#busca-container,
nav {
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    width: 0;
}

#menu.active,
#menu.active nav,
#menu.active {
    opacity: 1;
    width: var(--opened-menu-width);
}

nav {
    background: var(--primary-color);
    height: calc(100vh - var(--header-height));
    left: 0;
    overflow: hidden;
    padding-top: var(--search-bar-height);
    position: fixed;
    top: calc(var(--header-height));
}

nav a {
    text-decoration: none;
}

nav i {
    color: inherit;
    margin-right: calc(var(--default-padding) / 2);
}

nav ul {
    list-style: none;
}

nav li {
    align-items: center;
    display: flex;
    height: var(--menu-item-height);
    padding: 0 var(--default-padding);
}

nav a {
    color: var(--text-color-ligthen);
    font-size: 1em;
}

nav a.active {
    color: var(--header-background);
    font-weight: bold;
}

nav a.active i {
    color: var(--primary-color-lighten);
}

nav .active {
    border-left: solid 0.25rem var(--header-background);
}

nav .active>a {
    color: var(--header-background);
    left: -4px;
    position: relative;
}

main {
    display: flex;
    padding: var(--default-padding);
    position: absolute;
    top: var(--header-height);
}

@media screen and (min-width: 800px) {
     :root {
        --opened-menu-width: 18vw;
        --busca-container-width: 60vw;
    }
    #busca-container {
        align-items: center;
        background: var(--header-background);
        flex: 1;
        justify-content: flex-start;
        position: absolute;
        left: 30vw;
        opacity: 1;
        top: 0;
        width: var(--busca-container-width);
    }
    #busca-container input[type="search"] {
        flex: 1;
        width: 100vw !important;
    }
    #menu.active #busca-container {
        width: var(--busca-container-width);
    }
    #busca-container input[type="search"]:focus~i {
        right: calc(var(--default-padding) / 2);
    }
    nav {
        padding-top: var(--default-padding);
        top: var(--header-height);
    }
    main {
        left: var(--opened-menu-width);
        width: calc(100vw - var(--opened-menu-width));
    }
}