/*
  PALETA DE COR
  #0E0F11 - quase preto
  #30332E - cinza
  #FFFBFC - offwhite
  #62BBC1 - azul claro
  #C3F73A - Verde Limao
*/@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.cadastro{
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  margin-left: 65rem;
  margin-bottom:15rem ;
  background-color: #d63031;
  padding-right: 10rem;
  font-size: 20pt;
  opacity: 90%;
}
.login{
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  display: block;

}
.hero{
  align-items: center;
  background: url(https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  height: 720px;
  justify-content: center;  
}

.hero .mensagem{
  margin-bottom: 6rem;
  text-align: center;
  width: 60%;
  color: #f5f6fa;
}

.hero h1{
  font-size: 3rem;  
  text-align: center;
}

.hero p{
  font-style: italic; 
}

.hero .btn{
  background: #d63031;
  border-radius: 100px;
  color: white;
  display: block;
  padding: 1rem 3rem;
  text-decoration: none;
  margin-bottom: 5rem;
}

.apresentacao .titulo{
  padding: 6rem 2rem; 
  text-align: center;
}

.apresentacao .titulo > h1{
  margin-bottom: 4rem;  
}

.apresentacao .titulo > p{
  margin-bottom: 1rem; 
}

.texto-container{
  background: linear-gradient(rgba(0,20,20,0.5), rgba(0,40,50,0.5)), 
              url(https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80) no-repeat no-repeat center right,
              #f4f4f4;
  padding: 3rem;
}

.texto-container .texto p{
  color: white;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}  

.autor{
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.autor img{
  border-radius: 50px;
  height: 100px;
}

.autor .nome{
  font-weight: bold;
}


@media screen and (min-width: 960px){
  .apresentacao .titulo{
    margin: 0 auto;
    text-align: center;  
    width: 60%;    
  }

  .apresentacao .titulo > h1{
    margin-bottom: 4rem;  
  }
 
  .texto-container{
    background-size: 40%;
    padding: 6rem;
  }

  .texto-container .texto{
    width: 50%;
  }

  .texto-container .texto p{
    margin-bottom: 2rem;
  }  
  
  .autor{
    text-align: left;
  }
}

