/*
  PALETA DE COR
  #0E0F11 - quase preto
  #30332E - cinza
  #FFFBFC - offwhite
  #62BBC1 - azul claro
  #C3F73A - Verde Limao
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.divBotoesCadastroLogin {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 81rem;
    margin-bottom: 15rem;
}

.login {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.divInicio {
    align-items: center;
    background: url(https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.divInicio .divMensagem {
    margin-bottom: 6rem;
    text-align: center;
    width: 60%;
    color: #f5f6fa;
}

.divInicio h1 {
    font-size: 3rem;
    text-align: center;
}

.divInicio p {
    font-style: italic;
}

.divInicio .btn {
    background: #d63031;
    border-radius: 100px;
    color: white;
    display: block;
    padding: 1rem 3rem;
    text-decoration: none;
    margin-bottom: 5rem;
}