table .rankingGlobal {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 2rem;
    float: left;
    border: 1px solid black;    
}

.rankingGlobal tr:nth-child(even) {
    background-color: white;
}

.rankingGlobal td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12pt;
    margin-left: 0.2rem;
    padding-right: 0.2rem;
}

.cont_rankingGlobal {
    display: flex;
    margin-top: 1rem;
}

.cont_rankingGlobal th {
    font-size: 1.25rem;
    padding: 0.5rem;    
}

.container-information {
    display: flex;
    flex-direction: row;
    margin-left: 72rem;
    color: var(--primary-color-lighten);
}

header {
    align-items: center;
    background: var(--header-background);
    box-shadow: var(--border-shadow);
    display: flex;
    height: var(--header-height);
    width: 100%;
}

header #title-header {    
    text-transform: uppercase;
    width: 40vw;
    color: var(--primary-color-lighten);
    font-size: 0.8rem;
}

header #menu-button {
    color: var(--primary-color);
    font-size: 1.75em;    
}

#logo-menu-container {
    align-items: center;
    display: flex;
    padding-left: var(--default-padding);
    width: 78.5rem;
}

#menu-retract {
    transition: all ease-in-out .2s;
}

#menu.active #menu-retract {
    color: #ffffff;
    cursor: pointer;    
    font-size: 1.5rem;    
    position: fixed;
}

#menu.retracted #menu-retract {
    color: #ffffff;
    cursor: pointer;    
    font-size: 1.5rem;
    left: 1.5em;
    position: fixed;
    transform: rotate(180deg);
}

#menu.retracted nav {
    width: var(--retracted-menu-width);
    opacity: 1;
}

#menu.retracted nav span {
    display: none;
}

#menu,
#busca-container,
nav {
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    width: 0;
}

#menu.active,
#menu.active nav,
#menu.active {
    opacity: 1;
    width: var(--opened-menu-width);
}

nav {
    background: var(--primary-color);
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-top: var(--search-bar-height);
    position: fixed;    
}

nav a {
    text-decoration: none;
}

nav i {
    color: inherit;
    margin-right: 15px;
}

nav ul {
    list-style: none;
}

nav li {
    align-items: center;
    display: flex;
    height: var(--menu-item-height);
    padding: 0 var(--default-padding);
}

nav a {
    color: var(--text-color-ligthen);
    font-size: 1em;
}

nav a.active {
    color: var(--header-background);
    font-weight: bold;
}

nav a.active i {
    color: var(--primary-color-lighten);
}

nav .active {
    border-left: solid 0.25rem var(--header-background);
}

nav .active>a {
    color: var(--header-background);
    left: -4px;
    position: relative;
}

main {
    display: flex;
    padding: var(--default-padding);
    position: absolute;
    top: var(--header-height);
}

@media screen and (min-width: 800px) {
     :root {
        --opened-menu-width: 18vw;
        --busca-container-width: 60vw;
    }
    #busca-container {
        align-items: center;
        background: var(--header-background);
        flex: 1;
        justify-content: flex-start;
        position: absolute;
        left: 30vw;
        opacity: 1;
        top: 0;
        width: var(--busca-container-width);
    }
    #busca-container input[type="search"] {
        flex: 1;
        width: 100vw !important;
    }
    #menu.active #busca-container {
        width: var(--busca-container-width);
    }
    nav {
        padding-top: var(--default-padding);
        top: var(--header-height);
    }
    main {
        left: var(--opened-menu-width);        
    }
}